<% include header.ejs %>

<script type="text/javascript">
function _init_fileinput(_id, uploadurl)
{
    var control = $('#' + _id);

    control.fileinput({
        language : 'zh',
        uploadUrl : uploadurl,
        allowedFileExtensions : ['jpg', 'png', 'gif'],
        showUpload : true,
        showCaption : false,
        browseClass : 'btn btn-success',
        previewFileIcon : '<i class="glyphicon glyphicon-king"></i>'
    });
}
    function show_pic_select()
    {
        _init_fileinput('user_logo', '/user/pic');
        $('#select_pic_pre').hide();
        $('#select_pic_div').show();
    }

</script>
<!-- BEGIN PAGE CONTENT-->
<div class="row" style="padding-top: 20px;">
    <div class="col-md-12">
        <!--BEGIN TABS-->
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1_1" data-toggle="tab">查看个人信息</a></li>
                <li><a href="#tab_1_3" data-toggle="tab">编辑个人资料</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1_1" style="padding-top: 20px;">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-unstyled">
                                <li><img src="<%= user.pic %>" width="335px" alt="" />
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-8 profile-info">
                                    <h1><%=user.name%> 的个人资料</h1>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet dolore magna aliquam tincidunt erat volutpat.</p>
                                    <p>个人博客地址：<a href="#">www.blogtest.com</a></p>
                                    <p>最后登录时间：2016-11-21 11：16：24 <i class="icon-calendar"></i></p>
                                </div>
                                <!--end col-md-8-->
                            </div>
                            <!--end row-->
                        </div>
                    </div>
                </div>
                <!--tab_1_2-->
                <div class="tab-pane" id="tab_1_3" style="padding-top: 20px;">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <form method="post" action="/user/pic" enctype="multipart/form-data">
                            <div id="select_pic_pre"><p><img src="<%= user.pic %>" width="335px" alt="" /></p>
                            <a><i class="icon-picture"></i><a href="javascript:void(0);" onclick="show_pic_select();">修改头像</a></a></div>
                            <div id="select_pic_div" style="display: none;">修改头像<input type="file" class="file" name="upfile" id="user_logo"></div>
                            <span class="after"></span>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content">
                                <div id="tab_1-1" class="tab-pane active">
                                    <form role="form" action="/user/update" method="post">
                                        <div class="form-group">
                                            <label class="control-label">Name</label>
                                            <input type="text" value="<%= user.name%>" name="user" readonly class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Borth</label>
                                            <% if (user.borth) { %>
                                            <input type="text" value="<%= user.borth %>" name="borth" class="form-control" />
                                            <% } else { %>
                                            <input type="text" placeholder="出生年月" class="form-control" name="borth" />
                                            <% } %>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Gender</label>
                                            <select class="form-control" name="gender">
                                                <% if (user.gender == '女') { %>
                                                <option>男</option>
                                                <option selected>女</option>
                                                <% } else { %>
                                                <option selected>男</option>
                                                <option>女</option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="margiv-top-10">
                                            <input type="submit" class="btn btn-success pull-right" value="保存资料">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--end col-md-9-->
                    </div>
                </div>
                <!--end tab-pane-->
            </div>
        </div>
        <!--END TABS-->
    </div>
</div>
<!-- END PAGE CONTENT-->

<% include footer.ejs %>
